h1{
font-size: 30px;
text-align: center;
color: black;
}

p{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
}

a{
	font-size: : 20px;
	text-align: : center;
}
body {
background-color: lightyellow;
}
